.hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.cnet.com/a/img/resize/19394aca4affc504651051d009160d0c0d216218/hub/2022/10/10/f2ff9ef7-f016-459d-b88a-a8a68270c315/solar-gettyimages-525206743.jpg?auto=webp&fit=crop&height=675&width=1200");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-h1-first {
  font-size: 3.5rem;

  font-weight: 800;
  margin-bottom: 0.8rem;
  /* word-spacing: 0.8rem; */
  color: #fff;
}
.hero-h1-second {
  font-size: 4rem;
  color: #ffd400;
  margin-bottom: 1.25rem;
  font-weight: 800;
  line-height: 1.2;
  /* word-spacing: 0.8rem; */
}

@media screen and (max-width: 800px) {
  .hero {
    height: 60vh;
  }

  .hero-content {
    margin-top: 0rem;
  }
  .hero-h1-first {
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
  }
  .hero-h1-second {
    margin: 0 1rem 0 1rem;

    font-size: 2.4rem;
  }
}
@media screen and (max-width: 550px) {
  .hero {
    height: 60vh;
  }

  .hero-content {
    margin-top: 0rem;
  }
  .hero-h1-first {
    font-size: 1.2rem;
  }
  .hero-h1-second {
    font-size: 2rem;
  }
}
